.list-container {
  width: 100%;
}

.list-container li {
  list-style: none;
  text-decoration: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  cursor: default;
}

.list-container li div {
  width: 25%;
  overflow-wrap: break-word;
}

.list-container li div input {
  font-size: 16px;
  cursor: pointer;
}
.list-container li div p {
  font-size: 16px;
}
.list-container li div button {
  padding: 5px 30px;
  background-color: #f44336;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.lineTrugh {
  text-decoration: line-through;
}
